.content-container {
    position: relative;
    height: 100vh;
    min-height: 600px;
    background: url(../../images/login/body-bg.jpg) center no-repeat fixed;
    background-size: cover;
}

.login-container{
	width: auto;
}

.home-header .logo{
	display: inline-block;
    /* width: 200px;
    height: 65px;
    background: url(../../images/common/logo.png) no-repeat; */
    margin: 5vh 0 4vh 130px;
    
} 

.login-body{
	position: relative;
    width: 700px;
    margin: auto;
    padding: 35px 30px;
    color: #666;
    border-radius: 4px;
    background: #fff;
    box-shadow: 1px 1px 4px #767676;
}

.login-body .login-title{
	font-size: 2rem;
    margin-bottom: 40px;
}

.login-body .box{
	position: relative;
	width: 100%;
}

.login-body .box .left-container{
	float: left;
	width: 65%;
	border-right: 1px dashed #ddd;
}

.login-body .box .right-container{
	float: left;
	width: 35%;
	padding-left: 40px;
}

input.form-control{
	background: #f3f6f8;
	padding: 12px 20px;
	height: auto;
	border: 1px solid #dce4e6;
}

input.form-control:focus{
	border: 1px solid #00c1de;
}

.btn.block{
	padding: 8px 12px;
	width: 100%;
	background-color: #00c1de;
	font-size: 18px;
    border-color: #00c1de;
    border-radius: 2px;
}

.btn-primary, .btn-primary[disabled]{
	background-color: #00c1de!important;
}

.btn.block:hover,  .btn-primary:active:hover, .btn-primary:focus:active, .btn-primary:focus:hover, .btn-primary:hover, .btn-primary.active, .btn-primary:active, .btn-primary:hover {
    background-color: #02a1b9!important;
    border-color: #02a1b9;
}



.form-horizontal .form-group.clear-form-group{
	margin-left: 0px;
	margin-right: 0px;
}

#verify-code{
	font-size: 14px;
}

.clear-form-group .col-xs-6{
	padding: 0;
}

.rember-title{
	position: absolute;
	left: 16px;
	top: 0px;
}

.free-register{
	font-size: 18px;
	color: #00c1de;
	cursor: pointer;
}

.forgot{
	color: #00c1de;
	cursor: pointer;
}

.free-register:visited,.forgot:visited {text-decoration: none;color: #02a1b9;}	/* 已访问的链接 */
.free-register:hover,.forgot:hover{text-decoration: none;color: #02a1b9;}
.free-register:active,.forgot:active {text-decoration: none;color: #02a1b9;}	/* 选定的链接 */

.direct-login{
	padding-top: 12px;
	font-size: 16px;
}


.third-login li{
	float: left;
	width: 50px;
	margin-top: 12px;
}

.third-login li a{
	display: block;
	text-align: center;
}

.third-login li img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.third-login li img:hover{
	opacity: 0.8;
}

.home-footer{
	font-size: 1.6rem;
    line-height: 2;
    width: 100%;
    margin: 5.5vh 0;
    text-align: center;
    color: #fff;
}

.home-footer a{
	color: #fff;
}