<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="public/layout-open">
<div th:fragment="content">

    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <!-- 表单 -->
                <form class="layui-form" action="">
                    <input type="hidden" name="id" th:value="${user.id}"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">旧密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="oldPassword"
                                    required  lay-verify="required"
                                   placeholder="请输入旧密码" autocomplete="off" class="layui-input" maxlength="18">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">新密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="newPassword"
                                   required  lay-verify="required"
                                   placeholder="请输入新密码" autocomplete="off" class="layui-input" maxlength="18">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">确认密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="confirmPassword"
                                   required  lay-verify="required"
                                   placeholder="请输入确认密码" autocomplete="off" class="layui-input" maxlength="18">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="update-user-filter" id="save_user">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>

</html>

<script th:src="${'/static/js/user/update-password.js'}"></script>
