<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="public/layout-open">
    <div th:fragment="content">
    
        <link rel="stylesheet" th:href="${'/static/css/register/useTerms.css'}">
        <div class="content-container">
            <!-- 内容 -->
		    <div class="content-wrapper">
		
		
		        <div class='terms-page'>
		            <div class='ui pointing secondary menu terms-tab'>
		                <a class='active item' data-tab='terms'> 网站使用条款 </a>
		            </div>
		            <div class='active tab terms-tab-content ui' data-tab='terms'>
		                <div class='ui grid page'>
		                    <div class='sixteen wide column'>
		                        <p>感谢您访问 chengxuunion.com（以下简称“本网站”）。</p>
		                        <p>本网站由游盼盼（以下简称“网站管理员”）运行维护。本网站向公众开放，提供基于程序发布的功能。
		                            在使用本网站前，敬请您仔细阅读以下各项使用条款（以下简称“本使用条款”）。您对本网站的使用(包括但不限于对本网站的访问、登录，对本网站内容的浏览和使用)，将被视为您自愿承诺接受本声明的约束。如果您对本使用条款的内容不能接受，您应当立即停止使用本网站并迅速离开。
		                        </p>
		                        <ol>
		                            <li>
		                                <h4>本网站的使用</h4>
		                                <p>网站管理员许可您在您的计算机设备上浏览（使用）本网站展示的内容。</p>
		                            </li>
		                            <li>
		                                <h4>知识产权声明</h4>
		                                <p>任何在  chengxuunion.com
		                                    上注册的帐号上传的内容的版权均归上传者所有，上传者承担所有被上传内容的版权责任。网站管理员有权在其拥有的网站上，展示上传者上传到本网站公共区域的内容。
		                                </p>
		                            </li>
		                            <li>
		                                <h4>个人信息的保护</h4>
		                                <p>
		                                    网站管理员尊重访问本网站的任何个人的隐私信息。当您访问本网站的时候可能被要求提供您个人的基本资料(如姓名、电子邮件、电话号码等)，您可以自行选择是否提供。对于您提供的个人信息，网站管理员将根据中华人民共和国相关法律进行保密并严格保管，不会将这些信息以任何方式提供或展示给任何第三方，但下述情况除外：
		                                </p>
		                                <p>(一)
		                                    当司法机关或行政机关依照法定程序和法定职权要求本网站披露个人资料时，我们将依法提供相关资料。对于此情况下的任何披露，本网站均得免责；
		                                </p>
		                                <p>(二)
		                                    对于任何由黑客攻击、计算机病毒侵入或发作、或政府管制而造成的暂时性关闭等影响网站正常运营的不可抗力事件所造成的个人资料的泄露、丢失、被盗用或被篡改等，本网站均得免责；
		                                </p>
		                                <p>(三)
		                                    对于用户将个人密码告知他人或与他人共享注册帐号所导致的任何个人资料泄露，丢失、被盗用或被篡改等,本网站不负任何责任；</p>
		                                <p>(四) 对于与本网站链接的任何其它网站的个人资料泄露，丢失、被盗用或被篡改等事件，本网站不负任何责任。</p>
		                            </li>
		                            <li>
		                                <h4>网站的更新与变更</h4>
		                                <p>
		                                    网站管理员提供的本网站上的内容仅为方便您获取信息，网站管理员有权单方面在任何时间，对本网站的内容进行变更或更新，此种变更或更新无需以通知您或任何第三方为前提。您承认并接受上述变更或更新。我们建议您定期访问本网站以尽快获知有关的更新或变更的信息。
		                                </p>
		                            </li>
		                            <li>
		                                <h4>无担保声明</h4>
		                                <p>
		                                    在法律允许的最大限度内，本网站及本网站的内容不包括任何明确或暗示的有关（但不限于）所有权，适销性，质量满意程度，特定用途的适用性，准确性、时效性和完整性，不侵犯知识产权和其它方权利的承诺。
		                                </p>
		                                <p>
		                                    网站管理员尽其合理的商业努力维护本网站的安全和功能，但不保证本网站上的所有功能正常运作，也不保证本网站连续性地或无故障运行或缺陷被及时更正。
		                                </p>
		                                <p>
		                                    网站管理员不保证本网站系统适合您的电脑操作系统性能，也不保证本网站或其服务器永不产生故障或没有病毒、木马程序和其他有害程序。网站管理员亦不承担您因上述问题而产生的任何电脑的损坏的责任。
		                                </p>
		                                <p>网站管理员不为您所使用的访问本网站的网络线路和设备的可靠性以及连续性承担责任。</p>
		                            </li>
		                            <li>
		                                <h4>禁止盗链</h4>
		                                <p>
		                                    网站管理员禁止擅自利用本网站内容的网页构架系统的行为。网站管理员保留断开任何未经授权指向本网站的超文本链接或网页构架系统的权利。
		                                </p>
		                            </li>
		                            <li>
		                                <h4>程序大小</h4>
		                                <p>本网站允许用户上传程序，规定每个程序文件的大小上限为60M。
		                                </p>
		                            </li>
		                            <li>
		                                <h4>终止使用</h4>
		                                <p>
		                                    如果您的账户违反当地相关法律法规或网站使用条款，在未经事先通知的情况下，网站管理员有权自行判断并立即终止您对本网站的使用，或者采取措施禁止您对本网站的再次访问。
		                                </p>
		                            </li>
		                            <li>
		                                <h4>准据法和管辖权</h4>
		                                <p>
		                                    本网站内容及本使用条款的解释和适用均适用中华人民共和国法律，由于使用本网站而产生的一切纠纷，除另有约定，均由中华人民共和国(网络管理员所在地)人民法院管辖。
		                                </p>
		                            </li>
		                            <li>
		                                <h4>继续有效原则</h4>
		                                <p>如果本使用条款中的部分条款被有关机关认定为无效，则此无效部分并不影响本使用条款其他部分的效力，其他部分仍然有效。
		                                </p>
		                            </li>
		                        </ol>
		                    </div>
		                    <div class='about-us'>
		                        <h3>关于我们</h3>
		                        <p>游盼盼：个人开发者</p>
		                    </div>
		                    <div class='about-us'>
		                        <h3>联系我们</h3>
		                        <p>游盼盼</p>
		                        <p>邮箱：992425124@qq.com</p>
		                        <p>电话：13714421771</p>
		                    </div>
		                </div>
		
		            </div>
		        </div>
		
		    </div>
        </div>
    </div>
</html>

<script th:src="${'/static/js/register/useTerms.js'}"></script>