<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="public/layout-open">
    <div th:fragment="content">
    
        <link rel="stylesheet" th:href="${'/static/css/login/forgotPassword.css'}">
        
        <div class="content-container">
            <!-- 头部logo -->
            <header class="home-header">
                <a href="/">
                    <!-- <span class="logo"></span> -->
                    <img alt="" class="logo" th:src="${'/static/images/common/logo-white.png'}" width="266px" height="50px">
                </a>
            </header>
            
            <!-- 找回密码窗口 -->
		    <div class="login-container">
		        <div class="login-body">
		            <div class="center login-title">
		                找回密码
		            </div>
		            <div class="box clearfix">
		                <div class="left-container">
		                    <form id="forgotForm" class="form-horizontal login-form" autocomplete="off">
		                        <input type="hidden" name="type" value="2" id="type"/>
		                        <input type="hidden" name="token" th:value="${token }" id="token"/>
		                        <div class="form-group clearfix">
		                            <div class="col-xs-12">
		                                <div class=" col-xs-11">
		                                    <input type="text" class=" form-control " name="email" id="email" placeholder="请输入邮箱" >                 
		                                </div>
		                            </div>
		                        </div>
		                        
		                        <div class="form-group clearfix">
		                            <div class="col-xs-11">
		                                <div class=" col-xs-8">
		                                    <input type="text" class=" form-control " name="code" id="code" maxlength="6" placeholder="请输入邮箱验证码（6位）">                   
		                                </div>
		                                <div class=" col-xs-4">
		                                     <button type="button" class="btn btn-primary block get-code" id="getCodeBtn">获取验证码</button>    
		                                </div>
		                            </div>
		                        </div>
		                        
		                        <div class="form-group clearfix">
		                            <div class="col-xs-12">
		                                <div class=" col-xs-11">
		                                    <input type="password" class=" form-control " name="password" id="password" placeholder="请输入新密码（6-18位）">                    
		                                </div>
		                            </div>
		                        </div>
		                        
		                        <div class="form-group clearfix">
		                            <div class="col-xs-12">
		                                <div class=" col-xs-11">
		                                    <input type="password" class=" form-control " name="confirmPassword" id="confirmPassword" placeholder="请输入确认密码">                    
		                                </div>
		                            </div>
		                        </div>
		                        
		                        <div class="form-group">
		                            <div class="col-xs-12  submit-container">
		                                <div class=" col-xs-11">
		                                    <button type="submit" class="btn btn-primary block" id="resetBtn">重置密码</button>
		                                </div>
		                            </div> 
		                        </div>
		                      </form>
		                </div>
		                
		                <div class="right-container">
		                    <a class="free-register" href="/login">立即登录 →</a>
		                    <div th:if="${#lists.size(auths) > 0}">
                             <p class="direct-login">使用以下账号直接登录</p>
                             <ul class="third-login">
                                 <li th:each="auth : ${auths}">
                                     <a th:href="${auth.authUrl }"><img alt="" th:src="${'/static/images/oauth/' + auth.name +'.png'}"></a>
                                 </li>
                             </ul>
                            </div>
		                </div>
		            </div>
		        </div>
		    </div>
            
            <!-- 页尾 -->
            <footer class="home-footer">
                <div>
                    <a href="/">首页</a> | 
                    <a href="/aboutus/index" target="_blank">关于我们</a>
                    <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备18120804号</a>
                </div>
            </footer>
        </div>
    </div>
</html>

<script th:src="${'/static/js/login/forgotPassword.js'}"></script>