<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120">
                <span class="blue bolder" th:text="#{common.systemName}">项目门户</span> &copy; 2019-2019
            </span>
            &nbsp; &nbsp;
            <span class="action-buttons">
                <a href="http://www.chengxuunion.com">
                    <span th:text="#{common.companyName}">程序联盟</span>
                </a>
            </span>
        </div>
    </div>
</div>